@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --azul: #0c9cf5;
    --violeta: #967dd1;
    --degradado:linear-gradient (90deg, var(--azul), var(--violeta));
   
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;

}

*::selection{
    background: var(--azul);
    color: whitesmoke;
}

html{
    font-size: 64.4%;
    overflow: hidden;
}

body{
    background: whitesmoke;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}

header .logo {
    font-size:  2rem;
    color: var(--violeta);

}

header .logo span {
    color: var(--azul);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--azul);
    
}

header .navbar a:hover {
    color: var(--violeta); 

}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color:var(--azul);
    opacity: 0;

}

@media (max-width:1200px) {
    html{
        font-size: 55%;

    }
}

@media (max-width: 760px) {
    header label {
        visibility: visible;
        opacity: 1;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1)
    }
    header input: :checked
}